############################################
# macOS
############################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd


############################################
# Xcode
############################################
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
*.swp
*.lock


############################################
# Swift Package Manager
############################################
.build/
Package.resolved
.swiftpm/xcode/package.xcworkspace
.swiftpm/configuration/


############################################
# CocoaPods
############################################
Pods/
Podfile.lock


############################################
# Carthage
############################################
Carthage/Build/


############################################
# Firebase
############################################
# Firebase config files (do NOT commit secrets)
GoogleService-Info.plist

# Firebase local emulator data
firebase-debug.log
.firestore/
.storage/
.emulators/


############################################
# Fastlane
############################################
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/tmp/


############################################
# Code Signing / Certificates
############################################
*.cer
*.p12
*.mobileprovision
*.entitlements


############################################
# Logs & Debugging
############################################
*.log
*.tmp
*.pid
*.seed
*.out


############################################
# Playgrounds
############################################
timeline.xctimeline
playground.xcworkspace


############################################
# Test / Coverage
############################################
*.gcno
*.gcda
*.gcov
Coverage/
coverage/


############################################
# IDEs / Editors
############################################
.idea/
.vscode/
*.iml


############################################
# Misc
############################################
.env
.env.*
*.bak
*.orig
CLAUDE.md
